.friends-info {
	width: 100%;
	background-color: rgba(0, 0, 0, .1);
	padding: 13px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.friends-info > *:not(:last-child) {
	margin-right: 10px;
}

.friends-info i {
	color: rgba(0, 0, 0, .3);
}

.friends-main {
	padding: 15px 30px;
}

.friends-main .main-info {
	border-top: 2px solid rgba(0, 0, 0, .1);
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: rgba(0, 0, 0, .3);
}

.friends-main .main-info:not(:first-child) {
	margin-top: 30px;
}

.friend-num {
	color: rgba(0, 0, 0, .5);
}

.friends-block {
	margin: 20px 0;
}

.friends-music {
	max-width: 250px;
	padding: 5px 10px;
	border: 2px solid #13C05A;
	border-radius: 30px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.splash-screen {
	background-color: var(--main-color);
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: splashing .3s ease-in-out forwards;
	animation-delay: 1.5s;
	z-index: 10;
}

.conan-logo {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

@keyframes splashing {
	from { opacity: 1; }
	to {
		opacity: 0;
		visibility: hidden;
	}
}