.soild-alert {
	background-color: var(--alert-color) !important;
	color: white !important;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 11px !important;
	font-weight: 600;
}

.alert {
	border: 2px solid var(--alert-color) !important;
	color: var(--alert-color) !important;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 11px !important;
	font-weight: 600;
}

.alert-dot {
	background-color: tomato;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	position: absolute;
	top: -5px;
	left: 30px;
}