nav {
	background-color: rgb(244, 244, 244);
	width: 100%;
	position: fixed;
	bottom: 0px;
	font-size: 25px;
	padding: 20px 50px;
	border-top: 2px solid rgba(0, 0, 0, .1);
}

nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}