nav {
	background-color: rgb(244, 244, 244);
	width: 100%;
	position: fixed;
	bottom: 0px;
	font-size: 25px;
	padding: 20px 50px;
	border-top: 2px solid rgba(0, 0, 0, .1);
	z-index: 2;
}

nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul li {
	position: relative;
	transform: translateY(30px);
	animation: sunup 1s ease-in-out forwards;
	opacity: 0;
}

nav ul li:nth-child(2) {
	animation-delay: .3s;
}

nav ul li:nth-child(2) .alert-one {
	position: absolute;
	top: -10px;
	right: -10px;
	animation: alertone 3s ease-in-out infinite;
}

nav ul li:nth-child(3) {
	animation-delay: .6s;
}

nav ul li:nth-child(4) {
	animation-delay: .9s;
}

@keyframes sunup {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes alertone {
	0% {
	  transform: none;
	}
	50% {
	  transform: translateY(-5px) rotateY(360deg);
	}
	100% {
	  transform: none;
	}
  }